@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.4);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.4);
		transform: translatey(0px);
	}
}

@keyframes expand {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.2);
    }
    100% {
        transform: scaleX(1);
    }
}

.expand-animation {
    animation: expand 4s ease-in-out infinite;
}

.expand-animation-2 {
    animation: expand 4s ease-in-out infinite;
    animation-delay: 1s;
}

.float {
    animation: float 6s ease-in-out infinite;
}
.float-2 {
    animation: float 8s ease-in-out infinite;
}
.float-3 {
    animation: float 4s ease-in-out infinite;
}

.rich-text > ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
}

